---
import Container from "@components/Container.astro"
import AnimatedLayout from "./AnimatedLayout.astro"
---
<AnimatedLayout>
<div class="pt-80">
  <Container size="2xl">
    <slot/>
  </Container>
</div>
</AnimatedLayout>